/* show mobile nav, hide sidebar */
@media (max-width: 34.375rem), (pointer: coarse) and (max-width: 41.875rem) {
    .mobile-nav {
        display: flex !important;
    }
    .sidebar {
        display: none !important;
    }
    body {
        padding-bottom: 40px; /* mobile nav height(60) */
    }
    .container-main-content {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .mood {
        padding: 0 !important;
    }
    .mood__content {
        padding: 18px !important;
    }
}