.profile-main {
    padding: 12px var(--padding-main);
}
.profile-main-title1 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
}
.profile-main-title2 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
}
.profile-main__row {
    display: flex;
    gap: var(--padding-max20);
    flex-wrap: wrap;
}
.profile-main__row.m40{
    margin: 40px 0 20px 0;
}
.user-lists__card {
    display: flex;
    width: 150px;
    height: 140px;
    padding: 12px 15px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: .5s all;
}
.user-lists__card:hover {
    transform: translateY(-2px);
}