.profile-main {
    padding: 12px var(--padding-main);
}
.profile-main-title1 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
}
.profile-main-title2 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    text-align: left;
    overflow: hidden;
    height: fit-content;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.profile-main__row {
    display: flex;
    gap: var(--padding-max20);
    flex-wrap: wrap;
}
.profile-main__column {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 30px 0;
}
.profile-main__column {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 30px 0;
}

.profile-main__cards-wide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--padding-max20);
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .profile-main__cards-wide {
        grid-template-columns: repeat(2, 1fr) 10%;
    }
}
@media (max-width: 550px) {
    .profile-main__cards-wide {
        grid-template-columns: repeat(2, 1fr);
    }
    .user-lists__card {
        min-width: 120px;
        min-height: 125px;
    }
    .user-lists__card .list-card__img {
        width: 70px;
        height: 70px;
    }
    .user-lists__row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .user-lists__card {
        width: auto;
        max-width: none;
        min-width: 150px;
        height: 125px;
    }
}
@media (max-width: 350px) {
    .profile-main__cards-wide {
        grid-template-columns: 1fr;
    }
}