.hero {
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 0 var(--padding-main);
}
.hero::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--skeleton-gradient);
}
.hero__info {
    display: flex;
    flex-direction: column;
    max-width: 470px;
    position: relative;
    z-index: 2;
    font-family: var(--main-font);
    margin-bottom: 80px;
}
.hero__title {
    font-weight: 600;
    font-size: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.hero__info-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;

}
.hero__year {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
.hero__genres {}
.hero__text {
    display: -webkit-box;
  -webkit-line-clamp: 3; /* Количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 20px;
}

.hero__info-btns {
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.ui__button.triangle span {
    width: 10px;
    height: 15px;
    background-image: url('../../../public/hero/triangle-right.svg');
}
.ui__button.plus span::after {
    content: '+';
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    color: #080808;
}
.ui__button.share span {
    width: 21px;
    height: 20px;
    background-image: url('../../../public/moviePage/share.svg');
}

/* лист карточек */
.hero__list {
    z-index: 2;
    bottom: 20px;
}
.hero__card {
    position: relative;
}
.hero__card::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5) !important;
}

.hero__card-active {
    transform: scale(1.1);
}
.hero__card-active::after {
    background: none !important;
}
.hero__card img{
    width: 100%;
    height: 100%;
}


.hero__arrows {
    position: absolute;
    bottom: 250px;
    right: 0;
    display: flex;
    justify-content: end;
    padding-right: 50px;
    column-gap: 30px;
    z-index: 2;
}

.hero__arrows-btn {
    width: 50px;    
    height: 50px;    
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.7);;
    border: 1px solid rgba(255, 255, 255, 0.15);
    position: relative;
    /* cursor: pointer; */
}
.arrow-btn::after {
    content: '';
    width: 12px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url('../../../public/hero/arrow-right.svg');
    background-size: cover;
}
.arrow-btn:nth-child(1)::after {
    transform: translate(-50%, -50%) rotate(180deg);
}
.arrow-btn:nth-child(2)::after {
    transform: translate(-50%, -50%);
}