.arrows-full-w {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    position: absolute;
    top: 48%;
    left: 0;
    transform: translateY(-50%);
    z-index: 3;
}

.arrow-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #232323;
    border: 1px solid rgba(56, 56, 56, 0.5);
    position: relative;
}