.profile-main__select {
    min-width: 50%;
}

.select__row {
    display: flex;
    align-items: center;
}
.profile-main__select h2 {
    margin-bottom: 15px;
}
.select__select {
    padding: 10px 12px;
    border-radius: 6px;
    background: var(--second-bg-color);
    margin-right: 19px;
    max-width: 300px;
    word-wrap: break-word;

}
.select__row button {
    margin-right: 10px;
}