.vote-block {
    display: flex;
    align-items: center;
    width: fit-content;
    column-gap: 10px;
}
.vote-avg {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    border-radius: 4px;
    position: relative;
    margin-left: 23px;
}
.vote-avg::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -23px;
    width: 19px;
    height: 18px;
    transform: translateY(-50%);
    background-image: url('/hero/star.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vote-avg-count {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.4);
}

.vote-star {
    position: relative;
    padding-left: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #fff;
}
.vote-star::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 15px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url('/hero/star.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}