@import url('./anim.css');

.loading-main {
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 0 var(--padding-main);
}
.loading-main-moviepage {
    height: 100dvh;
}
.loading-main__info {
    display: flex;
    flex-direction: column;
    height: 200px;
    max-width: 470px;
    position: relative;
    z-index: 2;
}
.loading-main__info-m40 {
    margin-bottom: 40px;
}
.loading-main__info-h-auto-m40 {
    margin-bottom: 40px;
    height: auto;
}

.loading-main__column {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-right: var(--padding-main);

}

.loading-main__title {
    width: 90%;
    height: 40px;
    background: var(--second-bg-color);
    border-radius: 10px;
}
.loading-main__text {
    width: 100%;
    height: 20px;
    background: var(--second-bg-color);
    border-radius: 10px;
}

.loading-main__btns {
    margin-top: 15px;
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    padding-right: var(--padding-main);

}

.loading-main__btn {
    width: 120px;
    height: 40px;
    background: var(--second-bg-color);
    border-radius: 10px;
    
}

.loading-main__btn-arr {
    width: var(--size-button-arrow);
    height: var(--size-button-arrow);
    background: var(--second-bg-color);
    border-radius: 10px;

}

.loading-main__list {
    display: flex;
    height: 200px;
    column-gap: 25px;
    position: relative;
    bottom: 20px;
}
.loading-main__card {
    min-width: 145px;
    height: 100%;
    border-radius: 8px;
    background: var(--second-bg-color);
}

