.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px;
}
.header__logo {
    min-height: 25px;
    min-width: 120px;
    padding: 5px;
}

.header__right {
    display: flex;
    align-items: center;
}
.header__nav {
    color: #ffffff;
}
.header__list {
    display: flex;
    column-gap: 60px;
}
.header__line-vertical {
    color: #ffffff;
    margin-left: 60px;
}
.header__search {
    width: 40px;
    padding: 5px;
    color: #ffffff;
    border-radius: 10px;
    position: relative;
    transition: .3s all;
    cursor: pointer;
}
.header__search input{
    cursor: pointer;
    padding: 2px 25px 2px 10px;
    width: 100%;
}
.header__search-active {
    width: 200px;
    border: 1px solid #212121;
    margin-left: 30px;
}
.header__search-active input{
    cursor: text;
    width: 100%;
}

.header__search::after {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background-image: url('../../../public/header/search.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}